[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
uvicorn = "*"
fastapi = "*"
exceptiongroup = "*"
databases = "*"
email-validator = "*"
asyncpg = "*"
alembic = "*"
sqlalchemy = {extras = ["asyncio"], version = "*"}
pydantic-settings = "*"
debugpy = "*"
httpx = "*"
pytest-asyncio = "*"
jose = "*"
python-jose = {extras = ["cryptography"], version = "*"}
python-multipart = "*"
bcrypt = "*"
pyjwt = "*"
passlib = {extras = ["bcrypt"], version = "*"}

[dev-packages]

[requires]
python_version = "3.12"
