[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
uvicorn = "*"
exceptiongroup = "*"
databases = "*"
email-validator = "*"
asyncpg = "*"
alembic = "*"
pydantic-settings = "*"
debugpy = "*"
jose = "*"
python-multipart = "*"
passlib = {extras = ["bcrypt"], version = "*"}
pyjwt = "*"
starlette-admin = "*"
fastapi = {extras = ["all"], version = "*"}
pytest = "*"
pytest-asyncio = "*"
httpx = "*"
sqlalchemy = "*"
pytest-mock = "*"
pytest-postgresql = "*"
bcrypt = "==4.0.1"
aiosqlite = "*"

[dev-packages]

[requires]
python_version = "3.12"
